<div class="backgrounder2">
  <div class="container">
    <div style="height:25px"></div>
    <div class="row-fluid"></div>
    <div class="span2 offset1 visible-desktop">
      <%= image_tag("logo.png", :class=>"visible-desktop") %>
    </div>
    <div class="span2 hidden-desktop" style="margin-left:-20px;">
      <%= image_tag("logo.png", :class=>"visible-tablet") %>
      <%= image_tag("logo.png", :class=>"visible-phone") %>
    </div>
    <div class="hidden-phone" style="height:100px;"></div>
    <div class="row-fluid">
      <div class="span10 offset1"><h1>Surround sound.</h1></div>
      <div class="row-fluid">
      <div class="span6 offset1"><h3>Unlimited devices. Unlimited possibilities.</h3><div class="row-fluid">
        <div class="span6">
          <div style="height:20px"></div>
          <h5><%= image_tag("check.png") %> Sync across phones</h5>
          <h5><%= image_tag("check.png") %> Listen with friends</h5>
          <div class="hidden-phone" style="height:25px"></div>
        </div>
        <div class="span6">
          <div class="hidden-phone" style="height:20px"></div>
          <h5><%= image_tag("check.png") %> Portable surround sound</h5>
          <h5><%= image_tag("check.png") %> 3G, 4G, or WiFi</h5>
          <div style="height:25px"></div>
        </div>
      </div>
      <p>Download the app in the following stores:</p>
      <div class="row-fluid">
        <div class="span7">
          <div style="height:20px"></div>
          <a class="btn btn-primary btn-block" href="#myModal" role="button" data-toggle="modal">
            <%= image_tag("android_20x20.png") %> <b>Download for Android</b>
          </a>
          <div style="height:20px"></div>
          <a class="btn btn-primary btn-block" href="#myModal" role="button" data-toggle="modal">
            <%= image_tag("iPhone_20x20.png") %> <b>Download for iPhone</b>
          </a>
          <div style="height:20px"></div>
          <a class="btn btn-primary btn-block" href="#myModal" role="button" data-toggle="modal">
            <%= image_tag("windows_20x20.png") %> <b>Download for Windows Phone</b>
          </a>
        </div>
      </div>
      <div style="height:40px"></div>
      <p>Learn more about TuneTether <strong><%= link_to("here", "home/faq", :style => "color:#000000;") %></strong></p>
    </div>
    <div class="span5"><%= image_tag("phones.png", :alt => "image of phones") %></div>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4 offset1">
      <h3>Music Wherever You Are</h3>
      <p>TuneTether provides mobile surround sound in any location. Using our wifi or 4G enabled app, you can listen to music with your friends in school, in the park, wherever you want</p>
      <%= image_tag("world-planes.gif") %>
    </div>
    <div class="span5 offset2">
      <h3>New Listening Experinces Await</h3>
      <div class="row-fluid">
        <div class="span9">
          <p>Cooperative surround sound offers new possibilites to share in a musical experience. Ditch the headphones, and get connected!</p>
          <%= image_tag("headphones.png") %>
        </div>
      </div>
    </div>
  </div>
</div>
