<!DOCTYPE html>
<html>
<head>
<!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
-->
      <meta charset="utf-8">
      <title>TuneTether</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="TuneTether allows for synchronized audio across multiple mobile devices">
      <meta name="keywords" content="TuneTether, music, mobile, listen, synchronize, tune, tether">
      <meta name="author" content="Daniel Gorrie">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

      <!-- Le styles -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/bootstrap-responsive.css" rel="stylesheet">
      <%= stylesheet_link_tag("bootstrap.css") %>
      <link href="css/bootstrap-responsive.css" rel="stylesheet">

      <script src="js/jquery.js"></script>
      <!--<script src="js/bootstrap-responsive.js"></script>-->
      <script src="js/bootstrap.js"></script>
      <!--<script src="js/bootstrap-transition.js"></script>-->

      <!--Fav and Touch icons-->  
<!--
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png">
-->

        <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37996160-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body style="background: url('/images/c4.png') repeat-x;">
<%= yield %>
  </body>
  <footer>
    <br><br><br>
    <div class="span6"></div>
    <p class="text-info">TuneTether &#169; 2013</p>
  </footer>
</html>
