<!DOCTYPE html>
<html>
<head>
<!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
-->
      <meta charset="utf-8">
      <title>TuneTether</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="TuneTether allows for synchronized audio across multiple mobile devices">
      <meta name="keywords" content="TuneTether, music, mobile, listen, synchronize, tune, tether">
      <meta name="author" content="Daniel Gorrie">

      <!-- Le styles -->
      <%= stylesheet_link_tag("bootstrap.css") %>
      <%= stylesheet_link_tag("bootstrap-responsive.css") %>
      <%= stylesheet_link_tag("bootstrap.css") %>
      <%= stylesheet_link_tag("bootstrap-responsive.css") %>

      <%= javascript_include_tag("jquery.js") %>
      <!--<script src="js/bootstrap-responsive.js"></script>-->
      <%= javascript_include_tag("bootstrap.js") %>
      <!--<script src="js/bootstrap-transition.js"></script>-->

      <!--Fav and Touch icons-->  
<!--
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png">
-->

        <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37996160-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body style="background: url('/assets/c4.png') repeat-x;">
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 style="color:#3D77CE;">Sign Up</h3>
  </div>
  <div class="modal-body">
    <div id="subscribeFormWelcome">
      <span><p style="font-family:nexa_boldregular; font-size:18px;">TuneTether is still in development at the moment, but we&#39;d love for you to help us make TuneTether rock! Sign up below to get early access , provide input on its development, and get some special TuneTether deals.&nbsp;</p>
      <br>
      <p style="font-family:nexa_boldregular;"><em>TuneTether, Your&nbsp;Social Stereo</em></p></strong>
      <br>
    </div>
    <form action="http://tunetether.us5.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="bf1667d480c9ef1afc699d9a0">
      <input type="hidden" name="id" value="4433765c95">
      <div id="mergeTable" class="mergeTable" style="color:#3D77CE; font-family:nexa_boldregular;"  >
        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
          <label for="MERGE0"><strong>Email Address (Required)</strong></label>
          <div class="field-group">
            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
          </div>
        </div>
        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
          <label for="MERGE1">First Name</label>
          <div class="field-group">
            <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
          </div>
        </div>
        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
          <label for="MERGE2">Last Name</label>
          <div class="field-group">
            <input type="text" name="MERGE2" id="MERGE2" size="25" value="">
          </div>
        </div>
      </div>
      <br>
      <button type="submit" value="Subscribe to list" class="btn btn-primary" name="submit">Submit</button>
    </form>
    </div>
  </div>
</div>
<%= yield %>
  </body>
  <footer>
    <br><br><br>
    <div class="span6"></div>
    <p class="text-info">TuneTether &#169; 2013</p>
  </footer>
</html>
